<form class="p-3" [formGroup]="formNewQuestion" >  
  <div class="form-floating">    
    <select  formControlName="id_questionSecret"  class="form-control" placeholder="Email">              
      <option *ngFor="let item of questionSec" value="{{item.id}}">{{item.questionsSecret}}</option>
    </select> 
    <label for="floatingInput">Selecciona Pregunta:</label>
  </div>

  <div class="form-floating">    
    <input formControlName="answer" class="form-control" placeholder="Respuesta">
    <label for="floatingInput">Respuesta</label>
  </div>
  <div *ngIf="answer?.invalid && (answer?.dirty || answer?.touched )" class="alert alert-danger">
    <div *ngIf="answer?.errors?.['required']">Campo requerido</div>
    <div *ngIf="answer?.errors?.['pattern']">Sin caracteres especiales</div>
    <div *ngIf="answer?.errors?.['maxlength']">10 caracteres maximos</div>
  </div>
     
    
    <div>
      <button class="btn btn-danger" (click)="closeDialog()">Cerrar</button>
      <button class="btn btn-info" (click)="UpdateQuestion(data.id)" >Actualizar</button>
    </div>   
</form> 