<footer class="bd-footer py-4 py-md-5 mt-5 text-white bg-dark">
    <div class="container py-4 py-md-1 px-4 px-md-3">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="../assets/img/icon.png" width="100" height="auto">
            
            
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">Calle S/N, Col. Tepoxtecto, colonia Chalahuiyapa, Ciudad Huejutla c.p 43003, minicipio o delegacion Huejutla de Reyes, pais Mexico.</li>
            <li class="mb-2">iddeducation@gmail.com</li>
            <li class="mb-2">© 2022 Copyright</li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>IDD-EDUCATION</h5>
          <ul class="list-unstyled">
            <li class="mb-2 "><a [routerLink]="['/home']">Inicio</a></li>
            <li class="mb-2"><a [routerLink]="['edit-user']">Recursos</a></li>
            <li class="mb-2"><a [routerLink]="['contac-us']">Contacto</a></li>
            <li class="mb-2"><a [routerLink]="['quienes-somos']">¿Quienes somos?</a></li>
            <li class="mb-2"><a [routerLink]="['login']">Inicia Sesion</a></li>
            <li class="mb-2"><a [routerLink]="['/preguntasf']">Preguntas frecuentes</a></li>
  
            <li class="mb-2"><a routerLink="/avisoPrivacidad">Aviso de privasidad</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-lg-2 mb-3">
          <h5>Redes sociales</h5>
          <ul class="list-unstyled">
            <i class="bi bi-facebook rounded float-start"></i>          
            <li class="mb-2"><a href="#">Facebook</a></li><br>
            <i class="bi bi-twitter rounded float-start"></i>
            <li class="mb-2"><a href="#">Twitter</a></li>          
          </ul>
        </div>
      </div>
    </div>
  </footer>