
<header class="py-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <nav class="d-flex">
          <h6 class="mb-0">
            <a [routerLink]="['/home']" class="text-reset">Home</a>
            <span>/</span>
            <a href="" class="text-reset">Aviso de privasidad</a>           
          </h6>
        </nav>
      </div>
      <!--<app-search></app-search>-->
    </div>
</header>

<div class="container">
    <div class="p-1 m-5">
        <h1 class="h1 text-center text-success">AVISO DE PRIVACIDAD</h1><br>
        <p>Discapacidad intelectual Hidalgo, mejor conocido como IDD EDUCATION, con domicilio en calle S/N, Col. Tepoxtecto,
            colonia Chalahuiyapa, ciudad Huejutla, municipio o delegación Huejutla De Reyes, c.p. 43003, en la entidad de
            Hidalgo, país Mexico, y portal de internet www.iddeducation.com, es el responsable del uso y protección de sus datos
            personales, y al respecto le informamos lo siguiente:</p><br>
        
        <h5>¿Para qué fines utilizaremos sus datos personales?</h5>
        <p>De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son
            necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:</p>
        
        <ul>
            <li>
                Proporcionar recursos relacionada con a la enseñanza educativa
            </li>
            <li>
                Monitoreo para la recomendación de recursos
            </li>
            <li>
                Interacción con otros usuarios ya sea padres de familia o maestros de los cuales se podra visualizar datos
                autorizados como nombre de usuario o correro electronico
            </li>
            <li>
                Uso de recursos educativos
            </li>
            <li>
                Mercadotecnia o publicitaria
            </li>
        </ul>
        <p>
            En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:<br>
            No consiento que mis datos personales se utilicen para los siguientes fines:<br>
            [ ] Proporcionar recursos relacionada con a la enseñanza educativa<br>
            [ ] Monitoreo para la recomendación de recursos<br>
            [ ] Interacción con otros usuarios ya sea padres de familia o maestros de los cuales se podra visualizar datos<br>
            autorizados como nombre de usuario o correro electronico<br>
            [ ] Uso de recursos educativos<br>
            [ ] Mercadotecnia o publicitaria<br>
            La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos
            los servicios y productos que solicita o contrata con nosotros.
        </p><br>
        <h5>¿Qué datos personales utilizaremos para estos fines?</h5>
        <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos
            personales:
        </p>
        <ul>
            <li>Nombre completo</li>
            <li>Nombre de usuario</li>
            <li>Correo/correo institucional</li>
            <li>Telefono</li>
            <li>Password</li>
    
        </ul>
        <h5>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h5><br>
        <p>
            Requisitos para la presentación de una solicitud de ejercicio de derechos ARCO.<br>
            1. Presentar la solicitud ante el responsable (entendiéndose en este caso IDD EDUCATION mediante el correo electronico: iddeducation@gmail.com) que
            posee los datos personales, a través de los medios y mecanismos señalados en el aviso de privacidad,
            con la siguiente información:<br><br>
            <b>Información general.</b> Toda solicitud de ejercicio de derechos ARCO deberá contener la siguiente
            información:</p><br>
            <ul>
                <li>Nombre del titular de los datos personales.</li>
                <li>Documentos que acrediten la identidad del titular.</li>
                <li>En su caso, nombre del representante legal del titular y documentos para acreditar su identidad
                    y personalidad.</li>
                <li>Especificar el medio para recibir notificaciones.</li>
                <li>Descripción clara y precisa de los datos personales que se quieran rectificar, cancelar u oponerse
                    a su tratamiento.</li>
                <li>Descripción del derecho que se quiere ejercer o de lo que solicita el titular.</li>
                <li>En su caso, documentos o información que faciliten la localización de los datos personales, entre
                    ella, la unidad administrativa responsable del tratamiento.</li>
                
            </ul><br>
            
    
            <p><b>Información específica.</b> Además de la información general antes señalada, dependiendo del derecho
            que desee ejercer, deberá incluir la siguiente información en la solicitud:</p>
            
            <ul>
                <li>Derecho de ACCESO: la modalidad en la que prefiere que se reproduzcan los datos personales
                    solicitados.</li>
                <li>Derecho de RECTIFICACIÓN: las modificaciones que solicita que se realicen a los datos
                    personales, así como aportar los documentos que sustenten la solicitud.</li>
                <li>Derecho de CANCELACIÓN: las causas que motivan la petición de que se eliminen los datos
                    de los archivos, registros o bases de datos del responsable del tratamiento.</li>
                <li>Derecho de OPOSICIÓN: las causas o la situación que lo llevan a solicitar que finalice el
                    tratamiento de sus datos personales, así como el daño o perjuicio que le causaría que dicho
                    tratamiento continúe; o bien, deberá indicar las finalidades específicas respecto de las cuales
                    desea ejercer este derecho.</li>
            </ul><br>
           
            <p>Es importante que tome en cuenta que, si la solicitud no cuenta con la información antes descrita,
            IDD EDUCATION podrá solicitar la información faltante por medio de un REQUERIMIENTO, el cual
            se deberá emitir en un plazo máximo de 5 días hábiles contados a partir del día siguiente de la
            presentación de la solicitud, y usted tendrá 10 días hábiles, después de recibir la prevención, para
            proporcionar la información requerida, pues de lo contrario se tendrá como no presentada su solicitud.<br><br> 
        </p><br>
        <h5>¿Cómo puede limitar el uso o divulgación de su información personal?</h5>
        <p>
            Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes
            medios:<br>
            Correo electrónico, teléfono, perfil de usuario<br>
            Asimismo, usted se podrá inscribir a los siguientes registros, en caso de que no desee obtener publicidad de nuestra
            parte:<br>
            Registro Público para Evitar Publicidad, para mayor información consulte el portal de internet de la PROFECO<br>
            Registro Público de Usuarios, para mayor información consulte el portal de internet de la CONDUSEF<br>
            El uso de tecnologías de rastreo en nuestro portal de internet<br>
            Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de
            las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y
            experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los
            utilizaremos para los siguientes fines:<br>
            Personalización de recomendación de recursos<br>
            Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:<br>
            Identificadores, nombre de usuario y contraseñas de una sesión<br>
            Tipo de navegador del usuario<br>
            Páginas web visitadas por un usuario<br>
            Búsquedas realizadas por un usuario<br>
            Publicidad revisada por un usuario<br>
            Estas tecnologías podrán deshabilitarse siguiendo los siguientes pasos: Seleccionar opción de rechazar uso de
            cookies.<br>
        </p><br>
        <h5>¿Cómo puede conocer los cambios en este aviso de privacidad?</h5>
        <p>
            El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
            requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras
            prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.<br>
            Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a
            través de: www.iddeducation.com/avisos.<br>
            El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente
            aviso de privacidad es el siguiente:<br>
            Se enviara un correr electrónico con un link que redirigira directamente al aviso de privacidad actualizada.
    
        </p><br><br>
        <p >
            Última actualización: 22/10/202
        </p>
    </div>
</div>

<app-footer data-aos="flip-right"></app-footer>