<section>
  <div style="display: block; width: 100%;">
          <h2 class="text-center">Tipos de cursos</h2><br>  
  </div>
  <div class="container-cursos">
          
          <div class="cursos" *ngFor="let item of typeRecurs">
                  <div style="max-width: 100%; height: 200px; overflow: hidden; border-radius: 5%; ">
                          <img src="https://educacionespecialmx.site/idd_Educatio_back/public_html/img/imgTipoRecurso/{{item.img}}" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                          <div class="datosCursoUno">
                                  <h3>{{item.name}}</h3>
                                  <!--<p>De: Reallinks</p>
                                  <p class="tipoPagaGratis"><b>{{item.tipo}} : ${{item.precio}}MX</b></p>-->
                          </div>                                
                          <div class="datosCursoUno" style="text-align: center;">
                                  <Button class="BotonVerCurso" (click)="verCursos(item.id)"> <b>Ver cursos</b></Button>
                          </div>                                
                  </div>
          </div>
          
  </div>
</section>


<app-footer data-aos="flip-right"></app-footer>