<form class="p-3" [formGroup]="formChangePass" >   
  
  <div class="form-floating">    
    <input formControlName="passwordBefore" class="form-control" placeholder="Ingresa tu contraseña anterior">
    <label for="floatingInput">Ingresa tu contraseña anterior</label>
  </div>

  <div class="form-floating">    
    <input formControlName="passwordNew" class="form-control" placeholder="Ingresa tu nueva contraseña">
    <label for="floatingInput">Ingresa tu nueva contraseña</label>
  </div>
  <div *ngIf="passwordNew?.invalid && (passwordNew?.dirty || passwordNew?.touched )" class="alert alert-danger">
    <div *ngIf="passwordNew?.errors?.['required']">Campo requerido</div>
    <div *ngIf="passwordNew?.errors?.['minlength']">Tamaño minimo 8</div>
    <div *ngIf="passwordNew?.errors?.['maxlength']">Caracteres maximo revado</div>
    <div *ngIf="passwordNew?.errors?.['pattern']">Mayusculas y minusculas</div>
    <div *ngIf="passwordNew?.errors?.['pattern']">Numeros y caracteres especiales</div> 
  </div>
    
   
  <div>
    <button  class="btn btn-danger" (click)="closeDialog()">Cerrar</button>
    <button class="btn btn-info" (click)="UpdatePasswors()" >Actualizar</button>
  </div>   
</form>