<div class="row row-cols-2 row-cols-lg-2 align-items-stretch g-4 py-5" >
    <div class="col" style="text-align: center;">
        <div>
            <img src="../assets/img/404.png" style="width: 90%;" >
        </div>    
    </div>
    <div class="col align-items-start">
        <div>
            <h1>404</h1>
        </div>    
        <div>
            <h4>OOPS..</h4>
        </div>    
        <div>
            <p>Parece que esta pagina no se encuentra o no esta disponible por el momento</p>
        </div>    
        <div>
            <a href="">regresar a la pagina Principal</a>            
        </div>
    </div>
</div>

<app-footer data-aos="flip-right"></app-footer>